{
    "extends": [
        "@tada5hi/eslint-config-vue-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.eslint.json",
        "extraFileExtensions": [".vue"]
    },
    "ignorePatterns": ["**/dist/*"],
    "rules": {
        "class-methods-use-this": "off",
        "dot-notation": "off",
        "import/no-extraneous-dependencies": [
            "error", {
                "devDependencies": [
                    "**/test/**/*.js",
                    "**/test/**/*.ts",
                    "**/test/**/*.spec.js",
                    "**/test/**/*.spec.ts",
                    "**/rollup.config.mjs",
                    "packages/portal/**",
                    "packages/mtb/**",
                    "packages/rd/**"
                ]
            }
        ],
        "no-use-before-define": "off",
        "no-underscore-dangle": "off",
        "no-shadow": "off",

        "vue/no-v-for-template-key": "off",
        "vue/no-multiple-template-root": "off",

        "@typescript-eslint/no-throw-literal": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-this-alias": "off"
    }
}
