.pagination > li > .page-link {
    color: var(--vc-color-fg);
    background-color: var(--vc-color-bg-muted);
    border: 1px solid var(--vc-color-bg-muted);
    cursor: pointer;
    padding: 5px 8px;
    font-size: 0.75rem;
}

.pagination > .active > .page-link,
.pagination > .active > .page-link:focus,
.pagination > .active > .page-link:hover,
.pagination > li > .page-link:focus,
.pagination > li > .page-link:hover,
.pagination > li > .page-link.active {
    background-color: var(--vc-color-primary-600);
    color: var(--vc-color-on-primary);
    border: 1px solid var(--vc-color-primary-600);
}
