.page-footer {
    box-shadow: 0px 6px 0px 0px rgba(0, 0, 0, 0.1) inset;
    padding: 10px 0px 4px 0px;
    text-align: center;
    color: var(--dnpm-chrome-fg-muted);
}

.page-footer .copyright {
    flex: none;
    font-weight: 600;
}

.page-footer .copyright a {
    flex: none;
    text-decoration: none;
    color: var(--dnpm-brand-coral);
}
