.entity-card {
    background-color: #ececec;
    border: 1px solid #dedede;

    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1);
    transition: all .3s ease-in-out;

    border-radius: 4px;

    padding: 0.5rem 1rem;
}

.entity-card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    flex-direction: row;
}
