html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Nunito,sans-serif;
    font-size: 13px;
    color: #30373E;
    font-weight: 300;
    background: #D5D8DA none repeat scroll 0% 0%;
}

b, strong {
    font-weight: 700;
}

#__nuxt,
#__layout,
#app {
    height: 100%;
}
