html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Nunito, sans-serif;
    font-size: 13px;
    color: #30373E;
    font-weight: 300;
    background: #D5D8DA;
}

b, strong {
    font-weight: 700;
}

small, .small {
    font-size: 0.875rem;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-family: Asap,sans-serif;
    font-weight: 700;
    color: #829dc5;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title {
    /* font-weight: 700; */
    color: rgba(0,0,0,0.7);
}

h1.title:before,
h2.title:before,
h3.title:before,
h4.title:before,
h5.title:before {
    content: "";
    width: 4px;
    padding-right: 4px;
    background: #baa875;
    margin-right: 4px;
}

.title.no-border:before {
    content: none;
    width:0;
    height: 0;
    padding-right: 0;
    margin-right: 0;
}

.title .sub-title {
    font-size: .65em;
    color: #829dc5;
}

#__nuxt,
#__layout,
#app {
    height: 100%;
}


.page-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    padding-top: 56px;
    height: -moz-calc(100% - (34px));
    height: -webkit-calc(100% - (34px));
    height: calc(100% - (34px));
}

.page-content {
    padding: 15px 15px 40px;
    position:relative;
    overflow-x: hidden;
    width: 100%;
    background: #f7f5f2;
}

/*
Content
*/

.content-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content-wrapper > div:first-child {
    padding-right: 1.5rem;
}

.content-sidebar {
    width: 200px;
    display: flex;
    flex-shrink: 0;
}

.content-sidebar .nav {
    width: 100%;
}

.content-main {
    flex-grow: 3;
    height: 100%;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .content-wrapper > div:first-child {
        padding-right: 0 !important;
    }

    .content-sidebar {
        padding-bottom: 1.5rem;
        width: 100% !important;
    }
}

