html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Nunito, sans-serif;
    font-size: 13px;
    color: #30373E;
    font-weight: 300;
    background: #D5D8DA;
}

b, strong {
    font-weight: 700;
}

small, .small {
    font-size: 0.875rem;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-family: Asap,sans-serif;
    font-weight: 700;
    color: #829dc5;
}

#__nuxt,
#__layout,
#app {
    height: 100%;
}


.page-wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    padding-top: 56px;
    height: -moz-calc(100% - (34px));
    height: -webkit-calc(100% - (34px));
    height: calc(100% - (34px));
}

.page-content {
    padding: 15px 15px 40px;
    position:relative;
    overflow-x: hidden;
    width: 100%;
    background: #f7f5f2;
}

/*
Content
*/

.content-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.content-wrapper > div:first-child {
    padding-right: 1.5rem;
}

.content-sidebar {
    width: 200px;
    display: flex;
    flex-shrink: 0;
}

.content-sidebar .nav {
    width: 100%;
}

.content-container {
    flex-grow: 3;
    height: 100%;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .content-wrapper > div:first-child {
        padding-right: 0 !important;
    }

    .content-sidebar {
        padding-bottom: 1.5rem;
        width: 100% !important;
    }
}

